body {
    background-image: url(Background1.jpg);
    background-size: cover;
    transition: background-image 1s ease-in-out;
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
}

header {
    margin-top: 50px;
    font-size: 2.5em;
    text-align: center;
    color: #fff;
    text-shadow: 5px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.search-area {
    margin: 20px auto;
    width: 50%;
}

input[type="text"] {
    width: 80%;
    padding: 10px;
    font-size: 1.2em;
}

.buttons {
    margin-top: 10px;
}

button {
    padding: 10px 20px;
    font-size: 1.2em;
    margin-left: 10px;
    color: #FFFFFF;
    border-color: #9D00FF;
    background-color: #9D00FF;
}

#timeBtn {
    margin-top: 20px; 
}

#searchResults {
    visibility: hidden;
    background-color: #FFFDD0;
    color: #44BEE4;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

#time {
    font-size: 1.8em;
    visibility: hidden;
    background-color: #FFFDD0;
    color: #44BEE4;
    padding: 5px;
    border-radius: 5px;
    margin-top: 20px;
}

a {
    color: #FF9800;
    text-decoration: none;
}
